{% include 'navbar.html' %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
	<title>Github</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
	<center>
		{% if messages %}
				{% for i in messages %}
					<div class="alert alert-{{ i.tags }}" style="width: 20%">{{ i }}</div>
					
				{% endfor %}
				{% endif %}
		{% csrf_token %}
		<h1>GitHub</h1><br><br>
		{% if us %}
		
		<form action="{% url 'github' %}?data={{user}}" method="POST">
			Username:<input type="text" name="user" value="{{d}}"><br><br>
			Password:<input type="password" onmouseover="this.type='text'"
       onmouseout="this.type='password'" placeholder="password" name="pass" value="{{pa}}"><br><br>
			<a href="{% url 'gitchange' %}">Change Password</a>
		</form>
		{% endif%}
		{% if not us %}
		
		<form action="{% url 'github' %}?data={{user}}" method="POST">
			Username:<input type="text" name="user" value=""><br><br>
			Password:<input type="password" name="pass" value="" onmouseover="this.type='text'"
       onmouseout="this.type='password'" placeholder="password"><br><br>
			<button>Submit</button>
		</form>
		{% endif%}
	</center>
</body>
</html>

{% endblock content %}