<!DOCTYPE html>
<html>
<head>
	<title>Change Password</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
	<center>
		<h2>Update your Password</h2>
				{% if messages %}
				{% for i in messages %}
					<div class="alert alert-{{ i.tags }}" style="width: 20%">{{ i }}</div>
					
				{% endfor %}
				{% endif %}
		<form action="{% url 'stackchange' %}?data={{user}}" method="POST">
			{% csrf_token %}
			Old Password:<br><input type="password" name="oldpass" onmouseover="this.type='text'"
       onmouseout="this.type='password'" placeholder="password"><br><br>
			New Password:<br><input type="password" name="newpass" onmouseover="this.type='text'"
       onmouseout="this.type='password'" placeholder="password"><br><br>
			Confirm Password:<br><input type="password" name="conpass" onmouseover="this.type='text'"
       onmouseout="this.type='password'" placeholder="password"><br><br>
			<br><input type="submit" name="submit">

		</form>
	</center>

</body>
</html>